RewriteEngine on
RewriteCond $1 !^(index\.php|favicon\.ico|assets|robots\.txt|healthcheck\.php)

RewriteCond %{HTTP_HOST} !^help\.helppain\.net$ [NC]
RewriteRule ^(.*)$ http://help.helppain.net/index.php/$1 [R=301,L]

#RewriteRule ^(.*)$ /index.php/$1 [L]
